.vue-flow__node {
  display: flex;
  justify-content: center;
  border: 2px solid var(--un-c-shadow);
  border-radius: 50%;
  box-shadow: inset -2rem -2rem 5rem 0rem var(--un-c-shadow);
  animation: fadeInFromNone 0.3s ease-out;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    border-color 0.3s;

  div:nth-child(2) {
    padding-top: 3rem;
    max-width: 60%;
    font-size: max(60%, 1rem);
  }
}

.vue-flow__node:hover,
.vue-flow__node.selected {
  border-color: var(--un-c-shadow);
  box-shadow: inset -1rem -1rem 3rem 0rem var(--un-c-shadow) !important;
}

.vue-flow__node.selected {
  color: var(--un-c-white);
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
