.p-drawer {
  z-index: 5 !important;
  min-width: 25rem;
  padding-left: 1rem;
  color: var(--un-c-white-mute) !important;
  background-color: var(--un-c-background) !important;
  border: none !important;
  opacity: 0.95;
  border: none;

  &-header-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &.small {
    min-width: 0 !important;
    width: 15rem;
  }

  &.transparent {
    box-shadow: none;
    background-color: transparent !important;
  }

  &-mask {
    width: auto !important;

    &.p-drawer-right{
      right: 0 !important;
      left: auto !important;
    }
  }
}
